bitsandbytes==0.46.1
accelerate==1.9.0
pdf2image==1.17.0
faiss-cpu==1.11.0.post1
sentence-transformers==5.0.0
seaborn==0.13.2
plotly==6.2.0
wordcloud==1.9.4
nltk==3.9.1
hdbscan==0.8.40
langchain==0.3.27
langchain-core==0.3.72
langchain-community==0.3.27
langchain-huggingface==0.3.1
spaces==0.39.0
pyvis==0.3.2
PyMuPDF==1.26.3
beautifulsoup4==4.13.4
python-docx==1.2.0
bayoo-docx==0.2.20
transformers==4.53.3
torch==2.8.0
spacy==3.7.6
datasets==4.0.0
huggingface_hub==0.34.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl